:root {
  --white: #ffffff;
  --navy: #2e2f42;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --slate: #434455;
  --ocean: #404bbf;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --dairy: #fcfcfc;
  --cornflower: #e7e9fc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 428px) {
  .features-items {
    width: 396px;
  }
  .team-container {
    padding: 96px 66px;
  }

  .team-item {
    width: 264px;
  }
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
  .header-title {
    margin-right: 120px;
  }
  .header-list {
    display: flex;
  }
  .header-info {
  }
  .header-nav {
    justify-content: space-between;
  }
  .header-address .header-list {
    flex-direction: column;
    gap: 2px;
  }
  .header-container {
    display: block;
  }
  .header-contacts {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.04em;
  }
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .page-title {
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 60px;
    margin-bottom: 36px;
  }
  .container {
    max-width: 768px;
  }
  .team-container {
    padding: 96px 92px;
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-item {
    width: calc((100% -24px) / 2);
    margin: 0;
  }
  .features-container {
    flex-direction: row;
    width: 100%;
    gap: 72px 24px;
  }
  .features-items {
    width: calc((100% - 24px) / 2);
  }
  .features-title {
    text-align: start;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 16px;
  }
  .header-title {
    margin-right: 76px;
  }
  .header-address .header-list {
    flex-direction: row;
    gap: 40px;
  }
  .header-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }
  .page-title {
    margin-bottom: 48px;
  }
  .doing-container {
    display: block;
  }
  .features {
    padding: 120px 0;
  }
  .features-icon-block {
    display: flex;
  }
  .features-items {
    width: calc((100% - 72px) / 4);
  }
  .features-title {
    color: var(--navy);
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .team-container {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .team-item {
    width: calc((100% -72px) / 4);
  }
  .customers-container {
    padding: 120px 0;
  }

  .customers-list {
    gap: 24px;
  }
  .customers-list-item {
    width: calc((100% - 120px) / 6);
  }
}
